* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(225, 117, 117);
    /* background-image:  */
}

h1 {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
}


#gameboard {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* grid-template-rows: repeat(4, auto); */
    gap: 10px;
    justify-content: center;
    position: relative;
    max-width: 750px;
    max-height: 750px;
    perspective: 1000px;    
}


.card {
    margin: 5px;
    width: 150px;
    height: 150px;
    position: relative;
    /* transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s; */
} 

/* This makes the card pop when I click */
/* .gamecard:active {
    transform: scale(0.97);
    transition: transform .2s;
} */

/* .gamecard-front-face {
    transform: rotateX(180deg);
} */

.card-back-face {
    width: 20%;
    height: 20%;
    position: absolute;
    backface-visibility: hidden;
    /* background: rgb(32, 69, 193); */
    padding: 20px;
    border-radius: 5px;
    transform-style: preserve-3d;
}

/* .gamecard.flip {
transform: rotateX(180deg); 
transform-style: preserve-3d;
} */

#restart {
    display flex
    /* margin-top: 1000px; */
}